<nav>
    <header>
      <div class="header-container">
        <a href="/">
          <img src="https://github.com/5sControl/5sControl.github.io/assets/131950264/40cb36c2-266c-4e66-ab74-2dd44d93a806" alt="5controlS" height="30">
        </a>
        <div class="nav-links">
          <a href="/employee-monitoring/">MACHINE CONTROL</a>
          <a href="/inventory-tracking/">INVENTORY CONTROL</a>
          <a href="/phone-detection/">IDLE CONTROL</a>
          <a href="/operation/control">OPERATION CONTROL</a>
        </div>
      </div>
    </header>
  </nav>
