<nav>
    <header>
      <div class="header-container">
        <a href="/">
          <img src="https://github.com/5sControl/5sControl.github.io/assets/131950264/40cb36c2-266c-4e66-ab74-2dd44d93a806" alt="5controlS" height="30">
        </a>
        <div class="nav-links">
          <a href="machinecontrol.html">MACHINE CONTROL</a>
          <a href="min-max.html">MIN-MAX</a>
          <a href="idlecontrol.html">IDLE CONTROL</a>
          <a href="operationcontrol.html">OPERATION CONTROL</a>
        </div>
      </div>
    </header>
  </nav>
