<nav>
<header> 
<div align='left'>
  <a href='/'>
  <img src="https://github.com/5sControl/5sControl.github.io/assets/131950264/40cb36c2-266c-4e66-ab74-2dd44d93a806" alt="5controlS" height = "30" />
    </a>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 

<a href='machinecontrol.html'>
  
<img src='https://img.shields.io/badge/MACHINE%20CONTROL-blue?style=for-the-badge'>
 &emsp; 
</a>

<a href='https://5controls.com/solutions/inventory-control'>
  
<img src='https://img.shields.io/badge/MIN%20--MAX-green?style=for-the-badge'>
 &emsp; 
</a>

<a href='https://5controls.com/solutions/employee-monitoring-software'>
  
<img src='https://img.shields.io/badge/IDLE%20CONTROL-yellow?style=for-the-badge'>
 &emsp; 
</a>

<a href='https://5controls.com/solutions/operation-control'>
  
<img src='https://img.shields.io/badge/OPERATION%20CONTROL-purple?style=for-the-badge'>
  
</a>
</div>

<hr>

</header> 
</nav>
